sales_agent_workflow.json
{
  "name": "Mona 2.0 (outbound)",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "messages": {
          "values": [
            {
              "content": "=set PROMPT=## Context\nYour name is Mona, you are an AI Sales Development Representative (SDR).\n\nYou will introduce and refer to yourself as: \"Mona at AI Smartr\".\n\nYour email address is mona@aismartr.com.\n\n---\n\n## Task\nYour task is to send a **personalized cold email** to the provided prospect. Make the email **customized** to the prospect’s name, company, LinkedIn, or website (if available), while keeping it professional, friendly, and persuasive.\n\n---\n\n## Prospect Information\nFirst Name: {{ $json[\"First Name\"] }}\nLast Name: {{ $json[\"Last Name\"] }}\nEmail: {{ $json[\"Email\"] }}\nCompany: {{ $json['Company Name for Emails'] }}\nPerson LinkedIn: {{ $json['Person Linkedin Url'] }}\nCompany LinkedIn: {{ $json['Company Linkedin Url'] }}\nWebsite: {{ $json[\"Website\"] }}\n\n---\n\n## Email Guidelines\n\n1. Be Very Concise: Write short, snappy emails. Write as you're almost in a rush.  \n2. Be funny: You're an AI stand-up comedian with humor coded into your algorithms—a blend of wit, absurdity, and sarcasm.  \n3. Personalise your subject line, it should invite the user to open the email.  \n4. Casual, Simple Language: Use casual language as if you're in a rush. Keep below 4th-grade reading level.  \n5. Personalized Opening: Start with a personalized opening that ties directly into the rest of the email.  \n6. Prioritize Relevance: Focus on information most relevant to the user, especially how the AI tool can simplify their job.\n7. Do not use em dashes.\n\nEach section must be **separated by TWO literal line breaks**.  \nEmail structure:\n  1. Greeting\n  2. Body / Value proposition\n  3. Call-to-action\n  4. Signature  \n\n---\n\n## Output Format\nReturn JSON ONLY with fields:\n\n{\n  \"prospect\": {\n    \"name\": \"{{ $json['First Name'] }} {{ $json['Last Name'] }}\",\n    \"email\": \"{{ $json['Email'] }}\",\n    \"company\": \"{{ $json['Company'] }}\",\n    \"person_linkedin\": \"{{ $json['Person Linkedin'] }}\",\n    \"company_linkedin\": \"{{ $json['Company Linkedin'] }}\",\n    \"website\": \"{{ $json['Website'] }}\"\n  },\n  \"subject\": \"[Personalized subject line that grabs attention]\",\n  \"body\": \"[Plain text email, with literal line breaks exactly between sections]\"\n}\n\n---\n\n## Example Output\n{\n  \"prospect\": {\n    \"name\": \"Julie Anderlik\",\n    \"email\": \"julie.anderlik@example.com\",\n    \"company\": \"PropTech Co.\",\n    \"person_linkedin\": \"https://linkedin.com/in/julieanderlik\",\n    \"company_linkedin\": \"https://linkedin.com/company/proptechco\",\n    \"website\": \"https://proptechco.com\"\n  },\n  \"subject\": \"Julie, let’s supercharge PropTech Co.’s sales 🚀\",\n  \"body\": \"Hey Julie,\\n\\nI saw you’re working at PropTech Co. and thought this could help. We help real estate and PropTech companies like yours boost sales with AI-powered SDR automation. Think of it as a tireless rep that never sleeps, engaging prospects, qualifying leads, and booking meetings. You can peek at www.aismartr.com for details.\\n\\nWant to hop on a quick call and see how we can help?\\n\\nBest,\\nMona at AI Smartr\\nmona@aismartr.com\"\n}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -320,
        -704
      ],
      "id": "9c5ed70e-99e9-4723-9111-9a91c6653b1b",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "1NFPbmHDt43vgsCk",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const content = item.json.choices?.[0]?.message?.content || item.json.body || '';\n\n  // Extract JSON object\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  let parsed = {};\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch (e) {\n      parsed = {};\n    }\n  }\n\n  const email = item.json['Email'] || '';\n\n  // Convert escaped \\n into real line breaks\n  let body = parsed.body || '';\n  body = body.replace(/\\\\n/g, '\\n'); // Important: converts \\n into actual line breaks\n\n  return {\n    json: {\n      Email: email,\n      subject: parsed.subject || '',\n      body\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -720
      ],
      "id": "b0ae8dc9-cdb4-4539-802c-b70564a15511",
      "name": "Code"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Loop Over Items1').item.json.Email }}",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        432,
        -720
      ],
      "id": "1fcf6f29-32c4-4af4-81e4-a60d9f0c0cf8",
      "name": "Send a message",
      "webhookId": "f9e116dd-f6b1-46c8-b04f-c5992ea44ead",
      "credentials": {
        "gmailOAuth2": {
          "id": "zkkt3KDjyoQeDIR7",
          "name": "Mona email"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wWBjp_uf-XyLcKu3kFdElL3SqiEUkCLmvWbVAFtXL8I",
          "mode": "list",
          "cachedResultName": "Derek Moore Apollo MILLIONVERIFIER leads 3_2025 - Batch 4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wWBjp_uf-XyLcKu3kFdElL3SqiEUkCLmvWbVAFtXL8I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 177239838,
          "mode": "list",
          "cachedResultName": "Derek Moore Apollo MILLIONVERIFIER leads 3_2025 - Batch 4.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wWBjp_uf-XyLcKu3kFdElL3SqiEUkCLmvWbVAFtXL8I/edit#gid=177239838"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1280,
        -672
      ],
      "id": "50c9a51c-265c-425b-a5ff-232c19078c21",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6yVgdcD1qfQv2RFa",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "=0 9-17 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1616,
        -672
      ],
      "id": "3cb86b2c-9e08-47a3-b0f0-cb710c8657b9",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "get",
        "threadId": "={{ $json.threadId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        224,
        -96
      ],
      "id": "1fcfdb9c-b014-4824-96a7-2820a8913728",
      "name": "Get a thread",
      "webhookId": "5a0dcbb7-9fd8-4f52-b61c-4bc36258ad6e",
      "credentials": {
        "gmailOAuth2": {
          "id": "zkkt3KDjyoQeDIR7",
          "name": "Mona email"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=set PROMPT=## Context\nYour name is Mona, you are an AI Sales Development Representative (SDR).  \nYou must always introduce and refer to yourself as \"Mona, sales development agent at AI Smartr\".  \nYour email address is mona@aismartr.com.  \n\nYou will be given:  \n- A unique email thread ID: {{ $json.threadId }}  \n- Lead details (name, company, role, achievements)  \n\nSystem: Use the full conversation history from {{ $json.threadId }} along with the lead details to craft the next follow-up email.  \nYour follow-up must feel natural, relevant, and consistent with the prior thread.  \n\n---\n\n## Follow-Up Guidelines\n1. **Tone & Style**: Short, witty, casual, written in Mona’s cosmic comedy style.  \n2. **Reference Previous Email**: Light reminder that doesn’t copy-paste the old message.  \n3. **Fresh Value**: Highlight a new benefit of AI Smartr (different from before).  \n4. **Personalization**: Use details from the lead (role, company, achievements) and the actual thread context.  \n5. **Formatting**: Short, scannable paragraphs. Links formatted as [link](https://example.com).  \n6. **Engagement**: End with a playful, human touch and a clear CTA (reply or quick call).  \n7. Do not use em dashes.\n\n---\n\n## Process\n1. Retrieve conversation from {{ $json.threadId }}.  \n2. Skim thread + lead details.  \n3. Start with a light/funny reminder.  \n4. Re-introduce Mona quickly.  \n5. Add personalized touches (company, role, achievements).  \n6. Share one fresh benefit of AI Smartr.  \n7. Include a playful/human closing line.  \n8. End with a short, clear CTA.  \n\n---\n\n## Expected Input\n```json\n{\n  \"threadId\": \"19914044c9c2d464\",\n  \"first_name\": \"Julie\",\n  \"last_name\": \"Brown\",\n  \"company\": \"Cambridge Homes Texas\",\n  \"role\": \"Marketing Director\",\n  \"achievements\": [\"10+ years in home builder marketing\", \"Grew leads by 40% last year\"]\n}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1200,
        64
      ],
      "id": "1453bd9e-a98a-4932-b143-7ace62b5a6ee",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "1NFPbmHDt43vgsCk",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  let rawContent = item.json.message?.content || \"\";\n\n  // Try to detect subject line\n  const subjectMatch = rawContent.match(/Subject:\\s*(.+)/i);\n  const subject = subjectMatch ? subjectMatch[1].trim() : \"\";\n\n  // Remove subject line from body\n  let body = rawContent.replace(/Subject:.*\\n/i, \"\").trim();\n\n  // Always fixed email\n  const email = \"mona@aismartr.com\";\n\n  return {\n    json: {\n      threadId: item.json.id || item.json.threadId || \"\",\n      subject,\n      body,\n      email\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        64
      ],
      "id": "f781af3f-1b5e-4989-b53a-d782e710ba2b",
      "name": "Code1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get a thread').item.json.messages[0].To }}",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1984,
        64
      ],
      "id": "7ca2d83e-ddfe-48a1-b90b-e0bb56662ec7",
      "name": "Send a message1",
      "webhookId": "d0682b9f-0e70-40cb-93dd-397861e1466d",
      "credentials": {
        "gmailOAuth2": {
          "id": "zkkt3KDjyoQeDIR7",
          "name": "Mona email"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9-17 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1632,
        -112
      ],
      "id": "02cd9128-c09b-4bcb-a1e9-bae64d5d9f90",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1friRVFvloU5I0vFaZQ1t7a-VEoVSXF4QT1teb1kdWiM",
          "mode": "list",
          "cachedResultName": "New Sheet for emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1friRVFvloU5I0vFaZQ1t7a-VEoVSXF4QT1teb1kdWiM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1friRVFvloU5I0vFaZQ1t7a-VEoVSXF4QT1teb1kdWiM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "labelIds",
              "displayName": "labelIds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1200,
        -688
      ],
      "id": "8e08a73e-4453-40e5-a2fd-dcc1210d3b2a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6yVgdcD1qfQv2RFa",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b1b54ed-3950-4ae0-a2f7-8c4b08557982",
              "name": "threadId",
              "value": "={{ $json.threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -720
      ],
      "id": "9c5c9581-b241-42be-9d4a-2d5fc33e35c1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1friRVFvloU5I0vFaZQ1t7a-VEoVSXF4QT1teb1kdWiM",
          "mode": "list",
          "cachedResultName": "New Sheet for emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1friRVFvloU5I0vFaZQ1t7a-VEoVSXF4QT1teb1kdWiM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1friRVFvloU5I0vFaZQ1t7a-VEoVSXF4QT1teb1kdWiM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -608,
        -80
      ],
      "id": "be88ae93-f31e-4202-9fed-b3f30ecfc975",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6yVgdcD1qfQv2RFa",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1friRVFvloU5I0vFaZQ1t7a-VEoVSXF4QT1teb1kdWiM",
          "mode": "list",
          "cachedResultName": "New Sheet for emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1friRVFvloU5I0vFaZQ1t7a-VEoVSXF4QT1teb1kdWiM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1friRVFvloU5I0vFaZQ1t7a-VEoVSXF4QT1teb1kdWiM/edit#gid=0"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        -272
      ],
      "id": "e1957810-219f-42fe-bf26-8d8e9bcc7b7f",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6yVgdcD1qfQv2RFa",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const threadMessages = item.json.messages || [];\n  const myEmail = \"mona@aismartr.com\";\n  const myMessageId = item.json.id;\n\n  // Only messages from others and different from Mona's message\n  const replies = threadMessages.filter(msg => {\n    const fromEmail = (msg.from && msg.from.emailAddress) ? msg.from.emailAddress.toLowerCase() : \"\";\n    const isDifferentMessage = msg.id !== myMessageId;\n    return fromEmail !== myEmail && isDifferentMessage;\n  });\n\n  // Recipient email fallback\n  let recipientEmail = \"\";\n  if (threadMessages.length > 0 && threadMessages[0].To && threadMessages[0].To.length > 0) {\n    recipientEmail = threadMessages[0].To[0].emailAddress || \"\";\n  }\n\n  return {\n    json: {\n      hasReply: replies.length > 0,\n      threadId: item.json.id || item.json.threadId,\n      to: recipientEmail\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -96
      ],
      "id": "fc915bdf-44dd-4e39-8e64-a6331923ab3e",
      "name": "Code2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6338c94b-2e36-4c60-a8d2-68e2f1c7bf0a",
              "leftValue": "={{ $json.hasReply }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        -96
      ],
      "id": "07639e1a-7a82-4e8a-a80d-e9caab1c77ce",
      "name": "If1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -176,
        -80
      ],
      "id": "470286fa-eafa-4b50-9407-cf22034ed9bc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -928,
        -672
      ],
      "id": "fd4eb0e0-7105-44de-aac8-e24b7061abc9",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1264,
        -112
      ],
      "id": "9ba1164b-137b-4006-8301-2be874a9d5cc",
      "name": "Wait",
      "webhookId": "cbb92c20-864e-4f47-a934-8456c72466a7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fddd7b7d-2dfc-45ce-ad7b-f6a74e3675a7",
              "leftValue": "={{ $json['Day of week'] }}",
              "rightValue": "Monday",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "1806a793-769b-461e-af8d-5f954a17e8af",
              "leftValue": "={{ $json['Day of week'] }}",
              "rightValue": "Tuesday",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "9d0b2f0a-21e7-4ae7-b04d-0e5908b9918f",
              "leftValue": "={{ $json['Day of week'] }}",
              "rightValue": "Wednesday",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b78207d6-f9c5-4d15-b25b-6457459fa280",
              "leftValue": "={{ $json['Day of week'] }}",
              "rightValue": "Thursday",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "752f9904-2f75-4842-b857-dc520e82f43a",
              "leftValue": "={{ $json.Month }}",
              "rightValue": "Friday",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -976,
        -80
      ],
      "id": "e09247ad-3d4b-4313-8435-1bc895c12fb6",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a thread": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get a thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v0",
    "errorWorkflow": "DAU24MSSU82vQFDQ"
  },
  "versionId": "b4ed9e3b-1f09-4b7b-af65-d1c273cd2e04",
  "meta": {
    "templateId": "5691",
    "templateCredsSetupCompleted": true,
    "instanceId": "9cb8db83a42d46a67d695967527a2bdd802b367d505c4cc1a5966042d24528d8"
  },
  "id": "DAU24MSSU82vQFDQ",
  "tags": []
}
